/* Glass Effect */
.appMount__51fd7,
body,
.app__160d8,
.scroller_ef3116,
.wrapper_ef3116,
.membersWrap_c8ffbb {
    background: transparent;
}
.scroller_ef3116 {
    height: calc(100% - ((var(--server-size)*2) + 16px)) !important;
}
.scroller_ef3116::before {
    background: none !important;
    height: calc((var(--server-size)*2) + 16px);
}
#app-mount .bg__960e4 {
    background: transparent;
}

.theme-dark .bg__960e4 {
    background-color: #000;
}

.theme-light .bg__960e4 {
    background-color: #fff;
}

div#app-mount.appMount__51fd7::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(var(--background-blur));
    background-image: var(--wallpaper-is);
    background-position: center;
    background-size: cover;
}

.standardSidebarView__23e6b::before {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    filter: blur(var(--background-blur));
    background-image: var(--wallpaper-is);
    opacity: calc(var(--background-opacity)*-2);
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.theme-dark .layers__960e4 > [class="layer__960e4"] {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .layers__960e4 > [class="layer__960e4"] {
    background-color: hsla(0, 0%, 96%, 0.4) !important;
}

.standardSidebarView__23e6b,
.sidebarRegionScroller__23e6b,
.contentRegion__23e6b,
.contentRegionShownSidebar__23e6b {
    background: transparent  !important;
}

.theme-dark .container__133bf,
.theme-dark .applicationStore_f07d62 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .container__133bf,
.theme-light .applicationStore_f07d62 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.container__9293f.themed__9293f,
.nowPlayingColumn__133bf,
.container__7d20c {
    background-color: transparent !important;
}
.children__9293f:after {
    display: none;
}

.theme-dark .sidebar_c48ade .scroller__99e7c {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .sidebar_c48ade .scroller__99e7c {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.privateChannels__35e86 {
    background-color: transparent;
}
.sidebar_c48ade {
    background: none;
}
.scroller_ef3116 {
    padding-bottom: 0 !important;
}

.theme-dark .panels_c48ade {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-light .panels_c48ade {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.theme-dark .folder__48112.hover__48112,
.theme-dark .expandedFolderBackground__48112 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .folder__48112.hover__48112,
.theme-light .expandedFolderBackground__48112 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.folder__48112 {
    background-color: transparent;
}

.theme-dark .circleIconButton__5bc7e {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-dark .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 6%, 0.6);
}

.theme-light .circleIconButton__5bc7e {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
.theme-light .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 96%, 0.3);
}

.theme-dark .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header,
.theme-dark .container_c8ffbb {
    background: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header,
.theme-light .container_c8ffbb {
    background: hsla(0, 0%, 98%, 0.15) !important;
}

.members_c8ffbb,
.members_c8ffbb > div {
    background-color: transparent !important;
}
#dv-mount,
#MemberCount {
    background-color: transparent !important;
}

#app-mount .form_f75fb0:before {
    display: none;
}

.theme-dark .chat_f75fb0,
.theme-dark .container__01ae2 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-dark .container__2637a {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .chat_f75fb0,
.theme-light .container__01ae2 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
.theme-light .container__2637a {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

.chatContent_f75fb0,
.channelTextArea_f75fb0 {
    background-color: transparent !important;
}

.wrapper__0d1ef,
.wrapper_fc8177 {
    background-color: transparent !important;
}

.theme-dark .sidebar_c48ade .searchBar__35e86 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .sidebar_c48ade .searchBar__35e86 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}

#app-mount .ChannelDms-channelmembers-wrap .scroller__99e7c {
    background-color: transparent;
}
#app-mount .ChannelDms-channelmembers-wrap .searchBar__35e86 {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
}

.theme-dark .ChannelDms-channelmembers-wrap .privateChannels__35e86 {
    background-color: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .ChannelDms-channelmembers-wrap .privateChannels__35e86 {
    background-color: hsla(0, 0%, 98%, 0.15) !important;
}

.theme-dark .emptyCard__7e549 {
    background-color: hsla(0, 0%, 6%, 0.4) !important;
}

.theme-light .emptyCard__7e549 {
    background-color: hsla(0, 0%, 96%, 0.2) !important;
}

.theme-dark .itemCard__7e549 {
    background-color: hsla(0, 0%, 6%, 0.4) !important;
}
.theme-dark .itemCard__7e549:hover,
.theme-dark .itemCard__7e549.active_bf1984 {
    background-color: hsla(0, 0%, 8%, 0.6) !important;
}

.theme-light .itemCard__7e549 {
    background-color: hsla(0, 0%, 96%, 0.2) !important;
}
.theme-light .itemCard__7e549:hover,
.theme-light .itemCard__7e549.active_bf1984 {
    background-color: hsla(0, 0%, 98%, 0.3) !important;
}

#app-mount .inset_bf1984 {
    background-color: transparent !important;
}

.theme-dark .section__00943 {
    background-color: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .section__00943 {
    background-color: hsla(0, 0%, 98%, 0.15) !important;
}

.theme-dark .peopleColumn__133bf .peopleListItem_cc6179 {
    background-color: hsla(0, 0%, 8%, 0.3) !important;
}

.theme-light .peopleColumn__133bf .peopleListItem_cc6179 {
    background-color: hsla(0, 0%, 98%, 0.15) !important;
}

.theme-dark .actions_fc004c .actionButton_f8fa06 {
    background-color: hsla(0, 0%, 16%, 0.6) !important;
    border: 1px solid hsla(0, 0%, 17%, 0.6) !important;
    border-top-color: hsla(0, 0%, 19%, 0.6) !important;
    border-bottom-color: hsla(0, 0%, 17%, 0.6) !important;
}
.theme-dark .actions_fc004c .actionButton_f8fa06:hover {
    background-color: hsla(0, 0%, 18%, 0.6) !important;
}

.theme-light .actions_fc004c .actionButton_f8fa06 {
    background-color: hsla(0, 0%, 99%, 0.3) !important;
    border: 1px solid hsla(0, 0%, 93%, 0.3) !important;
    border-top-color: hsla(0, 0%, 93%, 0.3) !important;
    border-bottom-color: hsla(0, 0%, 86%, 0.3) !important;
}
.theme-light .actions_fc004c .actionButton_f8fa06:hover {
    background-color: hsla(0, 0%, 98%, 0.3) !important;
}

.theme-dark .container__37e49,
.theme-dark .activityPanel_c48ade,
.theme-dark .container_e131a9,
.theme-dark .container-6sXIoE {
    background-color: hsla(0, 0%, 0%, 0.2) !important;
}

.theme-light .container__37e49,
.theme-light .activityPanel_c48ade,
.theme-light .container_e131a9,
.theme-light .container-6sXIoE {
    background-color: hsla(0, 0%, 90%, 0.1) !important;
}

.scroller__244e5 {
    background-color: transparent !important;
}

#app-mount .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
    --background-modifier-selected: hsla(0, 0%, 40%, 0.4);
}

.theme-dark .sidebar_c48ade .thin__99f8c[dir=ltr] {
    background-color: hsla(0, 0%, 6%, 0.6);
}
.theme-dark .pageWrapper_a3a4ce {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}
.theme-dark .card_e90879 {
    background-color: hsla(0, 0%, 12%, 0.6) !important;
}

.theme-light .sidebar_c48ade .thin__99f8c[dir=ltr] {
    background-color: hsla(0, 0%, 96%, 0.3);
}
.theme-light .pageWrapper_a3a4ce {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
.theme-light .card_e90879 {
    background-color: hsla(0, 0%, 100%, 0.3) !important;
}

.theme-dark .wrapper_cc5dd2.selected_ae80f7 .childWrapper_a6ce15,
.theme-dark .wrapper_cc5dd2:hover .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 6%, 0.6) !important;
}

.theme-light .wrapper_cc5dd2.selected_ae80f7 .childWrapper_a6ce15,
.theme-light .wrapper_cc5dd2:hover .childWrapper_a6ce15 {
    background-color: hsla(0, 0%, 96%, 0.3) !important;
}
